<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCScoops.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4293A9861E1DE94B00241002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4293A99F1E1DE94B00241002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4293A9AA1E1DE94B00241002</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
